<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.iuunited.myhome"
          xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- 检测网络状态 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 允许应用程序联网 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> <!-- 获取mac地址作为用户的备用唯一标识 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" /> <!-- 获取用户手机的IMEI，用来唯一的标识用户。 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /> <!-- 缓存资源优先存入SDcard -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> <!-- 用于加载图片 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" /> <!-- 人人网需要权限 -->
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" /> <!-- 人人网需要权限 -->
    <uses-permission android:name="android.permission.EXPAND_STATUS_BAR" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- SDCard中创建与删除文件权限 -->

    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.hardware.camera" />
    <!-- 极光推送自定义的权限,必须配置否则无法成功 -->
    <permission
        android:name="com.iuunited.myhome.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required 一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.iuunited.myhome.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <!-- 这个权限用于访问GPS定位 -->
    <!-- 允许应用读取低级别的系统日志文件 -->
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <application
        android:name=".base.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar"
       >
//        android:name="android.support.multidex.MultiDexApplication"
        <!-- 高德地图SDK -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="caf767057fbcee065812ff8bdf8dfcfa"/>
        <!-- 友盟appKey -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="583bcd89a325113d39000986" >
        </meta-data>
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default"/>
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="2eb7780d328aa3844503d8a5"
            tools:replace="android:value"/>
        <!-- 谷歌地图 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBRKxq5CtuJ-rbE8g_cF5XpdP346xAegTc"/>

        <activity android:name=".ui.StartActivity"
                    android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.login.LoginActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".ui.login.RegisterActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.login.RegisterEmailActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.login.SettingPwdActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.MainActivity"
                  android:launchMode="singleTask"
                  android:theme="@android:style/Theme.Translucent.NoTitleBar"
        android:screenOrientation="portrait"/>
        <!--android:theme="@style/Theme.AppCompat.Light.NoActionBar"-->
        <activity android:name=".ui.home.ReleaseProjectActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.PhotoActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.TestPicActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ImageGridActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.MapActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.FeedBackActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.SettingActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.BriefIntroductActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.ProjectDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.ProjectFinishActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.ProjectGradeActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.AboutMyActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.ForgetPwdActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.ProIntroductActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.message.MessageChatActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustResize|stateHidden|stateUnchanged"/>
        <activity android:name=".ui.home.GaoDeMapActivity"/>
        <activity android:name=".ui.login.QuestionActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.login.ReactOneActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.login.ReactTwoActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ProListActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ItemProjectDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ProjectAssessActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="adjustResize|stateHidden|stateUnchanged"/>
        <activity android:name=".ui.project.professional.ProUnderWayDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.EditNewProjectActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.AddTaxActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.AddNewTaxActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.ProProjectDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.AddNewProjectActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.QuotedPriceActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.ReviseProjectActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.customer.ReviseEssentialActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.customer.ReviseQuestionActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.customer.RevisePhotoActivity"
                  android:launchMode="singleTask"
                  android:windowSoftInputMode="stateHidden|stateUnchanged"/>
        <activity android:name=".ui.project.PriceDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.ReviseSettingActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.EditSpecialtyActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.UserRatingActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.mine.MyHomeSynopsisActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".mapdemo.OneActivity"
            android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".mapdemo.TwoActivity"
                  android:theme="@style/Base.Theme.AppCompat.Light.DarkActionBar"/>
        <activity android:name=".ui.project.customer.LoocUpDetailsActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.ProItemDepotActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.AddCostActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.SearchQuestionActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ProjectOneActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ProjectTwoActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.home.ProjectThreeActivity"
                  android:launchMode="singleTask"/>
        <activity android:name=".ui.project.professional.ProMapActivity"
                  android:launchMode="singleTask"/>


        <!-- ***************友盟第三方分享************* -->
        <!-- 微博精简版无需特别配置 -->
        <activity
            android:name="com.umeng.socialize.editorpage.ShareActivity"
            android:theme="@style/Theme.UMDefault"
            android:excludeFromRecents="true"
            />

        <!-- 友盟微信分享 -->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 友盟腾讯分享 -->
        <activity
            android:name="com.umeng.qq.tencent.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent100424468" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.umeng.qq.tencent.AssistActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- 友盟facebook分享 -->
        <activity
            android:name="com.umeng.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            />
        <provider
            android:name="com.umeng.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider487692214752558"
            android:exported="true" />
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- 友盟twitter分享 -->
        <activity
            android:name="com.umeng.socialize.handler.TwitterWebActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:label="@string/app_name" />


        <!-- 高德定位服务 -->
        <service android:name="com.amap.api.location.APSService"
                 ></service>
        <!-- mapBox服务 -->
        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService" />

        <!-- Rich push 核心功能 since 2.0.6-->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:theme="@style/MyDialogStyle"
            android:exported="false">
        </activity>

        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.iuunited.myhome" />
            </intent-filter>
        </activity>
        <!-- Required  SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" >
        </service>

        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>
        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />
                <category android:name="com.iuunited.myhome" />
            </intent-filter>

        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />   <!--Required  显示通知栏 -->
                <category android:name="com.iuunited.myhome" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" android:exported="false"/>

        <!-- User defined.  For test only  用户自定义的广播接收器-->
        <receiver
            android:name=".receiver.MyReceiver"
            android:exported="false"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!--Required  用户注册SDK的intent-->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!--Required  用户接收SDK消息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!--Required  用户接收SDK通知栏信息的intent-->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!--Required  用户打开自定义通知栏的intent-->
                <action android:name="cn.jpush.android.intent.CONNECTION" /><!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.iuunited.myhome" />
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>


    </application>

</manifest>